body {
    margin: 0;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #15180e
}

h1 {
    font-family: 'Amita', cursive;
    font-size: 4.0rem;
    margin: 50px auto 0 auto;
    color:  rgb(236, 217, 41);
}

h2 {
    font-size: 2.5rem;
    font-family: 'Amita', cursive;
    color:  rgb(236, 217, 41);
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-size: 1.6rem;
    font-family: 'Amita', cursive;
    color:  rgb(236, 217, 41);
}

p {
    font-size: 1rem;
    font-family: 'Crimson Text', serif;
    line-height: 1.85;
}

hr {
    border: dotted #1c4419;
    border-bottom: none;
    width: 12%;
    margin: 100px auto;
}

a {
  color:  rgb(252, 242, 152);
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
    color: rgb(118, 223, 223);
}

.top-container {
    background-color: rgb(247, 255, 219); 
    padding-bottom: 1rem;
    position: relative;
}

.navbar{
    background-color:rgb(118, 223, 223);
}

.navbar-brand{
    font-family: 'Amita', cursive;
}



.top-cloud {
    position: absolute;
    right: 25rem;
    top: 1.7rem;
}

.bottom-cloud {
    bottom: 9rem;
    left: 10rem;
    position: absolute;
}

.name {
    margin: auto;
    padding: -1.2rem;
}

.pro {
    text-decoration: underline;
    font-family: 'Zeyada', cursive;
    font-size: 1.5rem;
}

.middle-container {
    background-color: rgb(253, 255, 246);
    padding-top: 2.5rem;
    padding-left: 1.5rem;
    padding-bottom: 2.5rem;
    width: 100%;
}

.intro {
    width: 40%;
    margin: auto;
}

.skill-row {
    width: 60%;
    margin: 2.5rem auto 2.5rem auto;
    text-align: left;
    padding-bottom: 1.7rem;
}

.computer {
    width: 25%;
    float: left;
    margin-right: 3rem;
}

.outdoors {
    width: 25%;
    float: right;
    margin-right: 3rem;
}

.sustainable {
    width: 25%;
    float: left;
    margin-right: 3rem;
    padding: 1rem;
}

.bottom-container {
    margin: 0;
    background-color: #f1d64d;
    padding-top: 4rem;
    position: relative;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}


.btn {
    background: #ecce36;
    background-image: -webkit-linear-gradient(top, #e4c739, #da7c35);
    background-image: -moz-linear-gradient(top, #ecce36, #da7c35);
    background-image: -ms-linear-gradient(top, #ecce36, #da7c35);
    background-image: -o-linear-gradient(top, #ecce36, #da7c35);
    background-image: linear-gradient(to bottom, #ecce36, #da7c35);
    -webkit-border-radius: 37;
    -moz-border-radius: 37;
    border-radius: 37px;
    font-family: 'Amita', cursive;
    color: #000000;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: rgb(118, 223, 223);
    background-image: -webkit-linear-gradient(top, rgb(118, 223, 223), #57bbe2);
    background-image: -moz-linear-gradient(top, rgb(118, 223, 223), #57bbe2);
    background-image: -ms-linear-gradient(top, rgb(118, 223, 223), #57bbe2);
    background-image: -o-linear-gradient(top, rgb(118, 223, 223), #57bbe2);
    background-image: linear-gradient(to bottom, rgb(118, 223, 223), #57bbe2);
    text-decoration: none;
  }

.copyright {
    color:#04435c;
    font-size: 0.75rem;
    padding: 20px 0;
    font-size: .75rem;
}